<h1>Journal</h1>

<ul class="list-group">
  <% @categories.each do |category| %>
    <li class="list-group-item"><%= link_to category.title, category %> - <%= category.details %></li>
  <% end %>
</ul>

<div>
  <%= link_to 'New Category', new_category_path %>
</div>
